[user]
	name = Stephen Biggerstaff
	email = s.biggerstaff@icloud.com
[core]
	excludesfile = /Users/stephenbiggerstaff/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/stephenbiggerstaff/.stCommitMsg
