[user]
	name = Stephen Biggerstaff
	email = s.biggerstaff@icloud.com
[core]
	excludesfile = /Users/stephenbiggerstaff/.gitignore_global

[commit]
	template = /Users/stephenbiggerstaff/.stCommitMsg

[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE

# [difftool "sourcetree"]
# 	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
# 	path = 
# [mergetool "sourcetree"]
# 	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
# 	trustExitCode = true